* {
    --blue-1: #02142A;
    --blue-2: #001839;
    --blue-3: #003379;
    --orange-1: #FB8500;
    --orange-2: #D87200;
    --orange-3: #A35600;
    --tabs-nb: 4;
    color: white;
    font-family: Inter, sans-serif;
    font-style: normal;
    line-height: normal;
}
body {
    background-color: var(--blue-1);
    width: 100vw;
    height: calc(var(--tabs-nb) * 100vh);
    overflow-x: hidden;
}

.tab {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: calc(var(--nb) * 100vh);
    background-color: var(--blue-2);
    left: 0;
}
.tab.no-bg {
    background-color: var(--blue-1);
}
.tab-inside {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.tab svg {
    position: absolute;
    width: 100vw;
}
h1 {
    font-size: 128px;
    font-weight: 700;
    pointer-events: none;
}
p {
    text-align: justify;
    font-size: 20px;
    font-weight: 300;
    pointer-events: none;
}
b {
    font-weight: 700;
    pointer-events: none;
}
h2 {
    text-align: center;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 0;
    pointer-events: none;
}
h3 {
    font-size: 52px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    pointer-events: none;
}
h4 {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
    color: darkgray;
    margin-top: 10px;
    pointer-events: none;
}
h5 {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
    color: darkgray;
    margin-bottom: 10px;
    pointer-events: none;
}
i {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
    pointer-events: none;
}
button, input[type=submit] {
    background-color: var(--orange-1);
    box-shadow: 0 0 15px 1px var(--orange-1);
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    padding: 1.5% 3%;
    cursor: pointer;
    transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
}
button:hover, input[type=submit]:hover {
    background-color: var(--orange-2);
    box-shadow: 0 0 25px 1px var(--orange-1);
}
.footer {
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 50px;
    background-color: var(--blue-2);
}
.footer span {
    font-size: 24px;
    font-weight: 400;
}